@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 1px solid black;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}



.searchButton {
    width: 40px;
    height: 32px;
    border: 1px solid black;
    border-left-style: none;
    background: white;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 32%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}



body {
    margin: 0;
    background-color: #FAF9F8;
}

.navbar {
    overflow: hidden;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: transparent;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .header {
    background: transparent;
    padding: 16px;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
}

.column {
    display: inline-block;
    text-align: center;
    width: 33.33%;
    padding: 10px;
    background-color: transparent;
    height: 250px;
}

.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.column a:hover {
    transition: 0.4s;
    color: #f44336;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.10s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.producttest {
    width: 440px;
    height: auto;
    position: absolute;
    top: 20px;
    right: 10px;
    transition: all 0.5s;
    color: rgb(148, 146, 145);
}

.producttest2 {
    width: 520px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 10px;
    transition: all 0.5s;
    color: rgb(148, 146, 145);
}

.producttest2 a {
    text-decoration: none;
    color: black;
    font-size: large;
    display: inline-block;
    margin: 2%;
}

.producttest2 a:hover {
    color: #f44336;
}

.producttest a {
    text-decoration: none;
    color: black;
    font-size: large;
    display: inline-block;
    margin: 2%;
}

.producttest a:hover {
    color: #f44336;
}

.footercenter a {
    text-decoration: none;
    color: black;
    font-size: large;
    display: inline-block;
    margin: 2%;
}

.main {
    width: 39%;
    height: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    background-color: transparent;
}

.footer {
    width: 100%;
    height: 320px;
    position: absolute;
    top: 170%;
    background-color: rgb(247, 97, 87);
}

.item {
    background-color: green;
    margin: 5%;
    height: 200px;
    border: 1px solid;
}

.am-next {
    position: absolute;
    top: 35%;
    left: -6%;

    background-color: #ffffff;
    border-radius: 42px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 24px;
    padding: 8px 19px;
    text-decoration: none;
}

.am-next:hover {
    color: red;
}

.am-prev {
    position: absolute;
    top: 35%;
    right: -6%;

    background-color: #ffffff;
    border-radius: 42px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 24px;
    padding: 8px 19px;
    text-decoration: none;
}

.am-prev:hover {
    color: red;
}

.testimage {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 300px;
    background-color: green;
    border: 1px solid;
}


.buttons {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 190px;
    background-color: rgb(255, 55, 41);
    color: white;
}

.buttons h2 {
    margin-left: 6%;

}


.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 2%;
    margin-right: 2%;
    transition: all 0.5s;
    cursor: pointer;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

.danger:hover {
    background: #f44336;
    color: white;
}

.footercenter {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    width: 35%;
    height: 80%;
    list-style-type: none;
    color: #ffffff;
}

.socials {
    width: 350px;
    height: 40px;
    position: absolute;
    bottom: 5%;
    right: 42%;

}

.socials a {
    font-size: 30px;
    text-align: center;
    margin-left: 10%;
    margin-right: 2%;
    color: #ffffff;
}

#ig {
    margin-left: 30%;
}